---
title: Attractive.js
description: A light-weight library for declarative DOM actions using data attributes
---

<section class="max-w-3xl mx-auto px-2 py-12 md:py-36 lg:py-48">
  <h1 class="text-4xl text-center font-semibold tracking-tight text-gray-950 text-balance lg:text-6xl">
    A JavaScript-free JavaScript library
  </h1>

  <p class="mt-3 text-2xl text-center font-light text-pretty text-gray-800 md:mt-6 md:font-extralight md:text-3xl">
    A light-weight library for declarative DOM actions using data attributes
  </p>

  <div class="flex items-center justify-center gap-x-4 mt-8 md:gap-x-8 [&_a]:flex [&_a]:px-4 [&_a]:py-1.5 [&_a]:text-sm [&_a]:font-light [&_a]:rounded-lg [&_a]:transition [&_a]:hover:scale-105 md:mt-12 [&_a]:md:text-lg [&_a]:md:px-6 [&_a]:md:py-2">
    <%= link_to "Get started", "#get-started", class: "text-gray-50 bg-gray-900" %>

    <%= link_to "View on GitHub", "https://github.com/rails-designer/attractivejs", target: :blank, rel: :nofollow, class: "text-gray-700 bg-gray-200" %>
  </div>
</section>

<div class="max-w-3xl mx-auto px-2 py-12 *:font-light *:text-xl *:text-gray-900 [&_p+p]:mt-8 md:py-72 lg:py-96 *:md:text-4xl/12">
  <p>
    99% of static sites and server-rendered apps don't need heavy frameworks. Modern HTML and CSS are powerful, but sometimes you just need a touch of interactivity.
  </p>

  <p>
    Attractive.js gives you declarative actions through data attributes. It is not a framework. It is just a humble set of actions. Write less. Ship more.
  </p>
</div>

<div class="flex flex-col items-center gap-y-6 max-w-3xl mx-auto px-2 py-12 md:items-start">
  <nav class="flex gap-x-4 md:gap-x-6">
    <%= safe_join ["Get started", "Actions", "Reference"].map { link_to it, root_path(anchor: it.parameterize), class: "block px-3 py-1 text-sm font-normal text-gray-800 rounded-full border border-gray-950 transition cursor-pointer hover:border-gray-100 md:px-7 md:py-3 md:text-base lg:text-lg md:border-2" } %>
  </nav>

  <%= render "content/sections/get_started" %>

  <%= render "content/sections/actions" %>

  <%= render "content/sections/reference" %>

  <p class="my-8 text-center text-sm text-gray-400">
    <%= link_to "by Rails Designer", "https://railsdesigner.com", class: "text-gray-500 hover:text-gray-700", target: :blank %>
    &bull;
    <%= link_to "View Attractive.js on GitHub", "https://github.com/rails-designer/attractivejs", class: "text-gray-500 hover:text-gray-700", target: :blank, rel: :nofollow %>
  </p>
</div>
